.OneMoreStepComponent {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #00DDDD;
    text-align: center;
    border-radius: 20px;
}