.EmailSubmittingComponent, .ResettingPasswordComponent {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #00DDDD;
    text-align: center;
    border-radius: 20px;
}

.title {
    font-size: 24px;
}

.main-fields {
    border-radius: 15px;
}

form {
    text-align: left;
    padding: 15px;
}

form * {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
}

form input {
    width: 100%;
}

.password-fields {
    display: flex;
    flex-direction: row;
}

.reset-password {
    text-align: right;
}

.switch-container {
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    background: none;
    border: 2px #3F4948 solid;
    padding: 25px 15px;
}

a {
    color: #00DDDD;
    cursor: pointer;
}

a :active {
    color: blue;
}

a :hover {
    color: #191C1C;
}